body {
    background-color: #f8f9fa;
}
.card {
    transition: transform 0.2s;
}
.card:hover {
    transform: scale(1.05);
}
.flashcard ul {
    padding-left: 20px;
    margin-bottom: 0;
}
.flashcard ul li {
    margin-bottom: 5px;
}